<center>
<p>Matthew Aaron Looney<br>updated: July 2018</p>

<a href="https://github.com/malooney">
<img border="1" src="images/github_logo.png" width="30" height="30">

<a href="https://scholar.google.com/citations?user=NNx0k9IAAAAJ&hl=en">
<img border="1" src="images/google_scholar_favicon-png.ico" width="30" height="30">

<a href="https://www.researchgate.net/profile/Matthew_Looney">
<img border="1" src="images/rg_logos/RG_square_green.jpg" width="30" height="30">

<div itemscope itemtype="https://schema.org/Person"><a itemprop="sameAs" content="https://orcid.org/0000-0003-2033-2304" href="https://orcid.org/0000-0003-2033-2304" target="orcid.widget" rel="noopener noreferrer" style="vertical-align:top;"><img src="https://orcid.org/sites/default/files/images/orcid_16x16.png" style="width:1em;margin-right:.5em;" alt="ORCID iD icon">orcid.org/0000-0003-2033-2304</a></div>

</center>


