<center>
<p>Matthew Aaron Looney<br>updated: July 2018</p>

<a href="https://www.researchgate.net/profile/Matthew_Looney">
<img border="0" alt="W3Schools" src="images/rg_logos/RG_square_green.jpg" width="30" height="30">

<a href="https://scholar.google.com/citations?user=NNx0k9IAAAAJ&hl=en">
<img border="0" alt="W3Schools" src="images/google_scholar_favicon-png.ico" width="30" height="30">
</center>


